/* Write your CSS here */
.main {
  background-color: #1e293b;
  text-align: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head {
  color: #f0bb03;
  font-size: 40px;
}

.par {
  color: white;
}

.btn {
  color: black;
  background-color: white;
}
